<h1>Show user <%= @user.name %></h1>

<p>
    <strong>Email</strong>
    <%= @user.email %>
</p>

<p>
    <strong>password</strong>
    <%= @user.password_digest %>
</p>

<p>
    <span> <%= link_to "Log out", logout_path, method: 'delete' %></span>
</p>